*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.ms_up_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px;
}

.ms_mine_avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.ms_icon{
    font-size: 20px;
    color: darkgray;
}

.ms_notifications{
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 10px;
}

.ms_icon_bell{
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    font-size: 20px;
    width: 50px;
    text-align: center;
    height: 50px;
}

.ms_fs{
    font-size: 13px;
    color: darkgray;
}

.ms_research{
    background-color: #eaeaea;
    padding: 10px;
}

.ms_input{
    padding: 5px 20px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}