*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*  SECTION UP CONTENT  */

/* UP CONTENT */
.ms_up_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px;
}

.ms_mine_avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.ms_icon{
    font-size: 20px;
    color: darkgray;
}
/* UP CONTENT */

/* NOTIFICATION */
.ms_notifications{
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 10px;
}

.ms_icon_bell{
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    font-size: 20px;
    width: 50px;
    text-align: center;
    height: 50px;
}
/* NOTIFICATION */

/* INPUT RESEARCH */
.ms_fs{
    font-size: 13px;
    color: darkgray;
}

.ms_research{
    background-color: #eaeaea;
    padding: 10px;
}

.ms_input{
    padding: 5px 20px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}
/* INPUT RESEARCH */

/* SECTION UP CONTENT */

/* SECTION DOWN CONTENT */
.ms_chat{
    padding: 10px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.ms_active{
    background-color: lightgray;
}

.ms_pos{
    font-size: 10px;
    color: darkgray;
    position: absolute;
    top: 5px;
    right: 10px;
}

.ms_scroll{
    overflow-y: scroll;
}
/* SECTION DOWN CONTENT */

/* SECTION RIGHT SIDE */
.ms_right_side{
    display: flex;
    align-items: flex-start;
    background-color: #eaeaea;
    padding: 10px;
    border-left: 1px solid lightgray;
    height: 70px;
}
/* SECTION RIGHT SIDE */